/* 下層page共通CSS(sec1まで)
--------------------------------- */
header{
    background-color: #f7f7f7;
    position: relative;
}

/* sec01
--------------------------------- */

#sec01{
    height: 300px;
    background: url(../common/img/head_photo.jpg) no-repeat center top;
    background-size: cover;
    top: 0;
    left: 0;
}

.contents01_01{
    color: #f7f7f7;
    line-height: normal;
}

h1{
    margin-bottom: 0;
}

h1 span{
    color: #F47D18;
}

.contents01_01 p{
    font-family: "Montserrat:ital", sans-serif;
    text-align: center;
}

/* sec02
--------------------------------- */

#sec02{
    flex-direction: column;
}

.contents02_02{
    margin-bottom: 12vh;
}

.contents02_03{
    font-family: "Montserrat:ital", sans-serif;
}

.contents02_03 ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 17.6px;
}

.contents02_03 li{
    flex: calc(100% / 4);
    text-align: center;
    line-height: normal;
}

/* sec03
--------------------------------- */

#sec03{
    display: block;
    font-family: "Montserrat:ital", sans-serif;
}

#sec03>div{
    margin-bottom: 12vh;
}

#sec03 div:last-child{
    margin-bottom: 0;
}

table{
	width:100%;
}

th{
    color: #F47D18;
    text-align: start;
    padding: 1em;
}

.first{
    padding-top: 0;
}

td{
    padding-left: 1em;
    border-bottom: solid 1px rgb(200, 200, 200);
}

td:first-child{
    width: 30%;
}

td:nth-child(2){
    width: 60%;
}

td:last-child{
    width: 10%;
    text-align: center;
    padding-left: 0;
}

#contents03_02 h3::before{
    width: 48%;
    height: 20px;
    content: "";
    background-color: #F2EDCA;
    border-radius: 10px 0 0 10px;
    position: absolute;
    left: 52%;
    z-index: -20;
}

#contents03_03 h3::before{
    width: 68%;
    height: 35px;
    content: "";
    background-color: #F47D18;
    opacity: 0.8;
    border-radius: 0 20px 20px 0 ;
    position: absolute;
    right: 32%;
    z-index: -20;
}

#contents03_04 h3::before{
    width: 45%;
    height: 25px;
    content: "";
    background-color: #fff;
    border-radius: 0 15px 15px 0 ;
    position: absolute;
    right: 55%;
    z-index: -20;
}

#contents03_05 h3::before{
    width: 74%;
    height: 20px;
    content: "";
    background-color: #516B87;
    opacity: 0.6;
    border-radius: 10px 0 0 10px;
    position: absolute;
    left: 26%;
    z-index: -20;
}

#contents03_06 h3::before{
    width: 50%;
    height: 35px;
    content: "";
    background-color: #F47D18;
    opacity: 0.8;
    border-radius: 0 20px 20px 0 ;
    position: absolute;
    right: 50%;
    z-index: -20;
}

#contents03_07 h3::before{
    width: 53%;
    height: 25px;
    content: "";
    background-color: #fff;
    border-radius: 15px 0 0 15px;
    position: absolute;
    left: 47%;
    z-index: -20;
}

#contents03_08 h3::before{
    width: 45%;
    height: 20px;
    content: "";
    background-color: #F2EDCA;
    border-radius: 10px 0 0 10px;
    position: absolute;
    left: 55%;
    z-index: -20;
}

/* honeycomb
--------------------------------- */

.honeycomb01{
    content: url(img/equipment_honeycomb01.png);
    top: 450px;
    left: 2vw;
    position: absolute;
    z-index: -10;
}

.honeycomb02{
    content: url(img/equipment_honeycomb02.png);
    bottom: -7500px;
    right: 2vw;
    position: absolute;
    z-index: -10;
}



/* レスポンシブ01
--------------------------------- */
@media screen and (max-width: 834px){

/* 下層page共通CSS(sec1まで)
--------------------------------- */

/* sec01
--------------------------------- */

#sec01{
    height: 150px;
}

/* sec02
--------------------------------- */

.contents02_02{
    margin-bottom: 0;
}

.contents02_03{
    display: none;
}

/* sec03
--------------------------------- */

#contents03_02 h3::before, #contents03_03 h3::before, #contents03_04 h3::before, #contents03_05 h3::before, #contents03_06 h3::before, #contents03_07 h3::before, #contents03_08 h3::before{
    display: none;
}

#sec03>div{
    margin-bottom: 6vh;
}

table{
    margin-bottom: 6vh;
}

.title{
    margin: 0 6vw 6vh 6vw;
    border-bottom: solid 1px rgb(200, 200, 200);
    cursor: pointer;
    position: relative;
}

.title:after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 8px;
	height: 8px;
	border-right: 2px solid #444;
	border-bottom: 2px solid #444;
	transform: translateY(-50%) rotate(45deg);
	transition: 0.3s;
}

.title.open:after{
	transform: rotate(225deg);
}

.inner{
    display: none;
}

/* honeycomb
--------------------------------- */

.honeycomb01{
    width: 40%;
    top: 250px;
}

.honeycomb02{
    display: none;
}
}



/* レスポンシブ02
--------------------------------- */
@media screen and (max-width: 430px){

/* 下層page共通CSS(sec1まで)
--------------------------------- */

/* header
--------------------------------- */

.header_menu span{
    color: #F47D18;
}

/* sec01
--------------------------------- */

#sec01{
    height: 100px;
}

.contents01_01 p{
    font-size: 0.9rem;
}

/* sec03
--------------------------------- */

th{
    padding-left: 0.5em;
}

td{
    padding-left: 0.5em;
}

td:nth-child(2){
    width: 55%;
}

td:last-child{
    width: 15%;
}

.title{
    margin: 0 0 6vh 0;
}

/* honeycomb
--------------------------------- */

.honeycomb01{
    width: 60%;
}
}